:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    opacity: 0.8;
}

p {
    text-align: center;
}

.navigation-links {
    font-variant: var(--secondary-color);
    text-align: center;
    text-decoration: none;
}

.astro-ss {
    border-radius: 4px;
    background-color: var(--secondary-color);
    padding: 5px 5px;
    box-shadow: var(--box-shadow);
}

.a-heading {
    margin-top: auto;
    text-align: center;
}

.weather-app {
    border-radius: 4px;
    background-color: var(--secondary-color);
    padding: 5px 5px;
    box-shadow: var(--box-shadow);
}

.w-headeing {
    margin: 50px;
}